

body {
	font-family: 'Noto Sans', sans-serif, Helvetica;
	font-size: 16px;
	color: #6d6d6d;
	font-weight: 400;
	margin: 0;
}

p {
	line-height: 25px;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing:0.8px;
	font-family: 'PT Sans', sans-serif, Helvetica;
	font-weight: 400;
	color: #ecf0f1;
}

small {
	font-family: 'Noto Sans', sans-serif, Georgia;
	font-weight: 400;
	color: #6d6d6d;
}

a {
	text-decoration: none;
}

.wrapper{
	position:relative;
	width:90%;
	max-width: 1000px;
	margin: 0 auto;
}

.header{
	text-align: center;
	padding-top: 30px;
	background: #2c3e50;
	height: 100%;
}

.logo {
	line-height: 16px;
	font-size: 1.2em;
	padding-bottom: 30px;
}

.logo h1{
	font-weight: 700;
	text-shadow: 3px 3px 20px #000;
}

.logo h1:nth-child(2){
	color: #a4aaae;
}

.menubar {
	position: relative;
	display: block;
	margin: 0 auto 50px auto;
	padding: 12px 10px 0px 10px;
	text-align: center;
	font-family: 'Noto Sans', sans-serif, Georgia;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.85em;
	height: 25px;
	-webkit-transition: height 0.3s;
	transition: height 0.3s;
	width: 70%;
	background: #1c2c3c;
	cursor: pointer;
	border-radius: 3px;
}

.menubar-checkbox {
	position: absolute;
	top:157px;
	left:15%;
	width: 70%;
	height:35px;
	z-index: 100;
	opacity: 0;
	cursor: pointer;
}

.menubar ul {
	height: 0;
	display: inline-block;
	opacity: 0;
	margin: 0;
	padding: 10px 0px 0px 0px;
	width: 90%;
	/* -webkit-padding-start: 0px !important; */
} 

.menubar li {
list-style-type: none;
}

.menubar a{
	color: #6d6d6d;
	display: block;
	padding: 5px 10px;
}

.menubar li:hover a{
	color: #ecf0f1;
	background: rgba(0,0,0,0.2);
}

.menubar-handle{
    cursor: pointer;
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15px;
	padding: 0 40%;
	background: url(1.png) repeat-x;
	background-clip: content-box;
}

.menubar .active{
	color: #ecf0f1;
}

@-webkit-keyframes menu-fade-in {
  0% { opacity: 0; height: 0; }
  100% { opacity: 1; height: 135px; }
}

@-webkit-keyframes menu-fade-out {
  0% { opacity: 1; height: 135px; }
  100% { opacity: 0; height: 0px; }
}

#menubar-checkbox:checked + .menubar {
	-webkit-transition: height .3s;
	transition: height .3s;
	height: 155px;
}

#menubar-checkbox:checked + .menubar>ul {
	display: inline-block;
    -webkit-animation: menu-fade-in 1s forwards;
    animation: menu-fade-in 1s forwards;
}

#menubar-checkbox:checked + .menubar-handle{
	margin: 0 auto;
}


.banner {
	background: rgb(44, 62, 80) url('2.png') no-repeat center;
	margin: 0;
	background-size: cover;
	text-align: center;
	box-sizing: border-box;
}

.banner h2 {
	font-size: 1.3em;
	padding: 29% 0;
	margin:0; 
	color: #bdc3c7;
}

html,
body,
.about-info,
.personalised,
.experienced,
.passionate {
	height: 100%;
}

.about-info{
	width:100%;
	position:relative;
	background: url("3.png");
	margin:0;
}

.about-info p{
	font-size: 0.95em;
}

.personalised,
.experienced,
.passionate {
	box-sizing:border-box;
	position: relative;
	padding: 60px 20px 0px 0;
	vertical-align: top;
	text-align: center;
	color: #6d6d6d;
}

.about-info div:last-child{
	padding: 60px 20px 30px 0;
}

.personalised h3,
.experienced h3,
.passionate h3{
	padding-bottom: 30px ;
}

.about-info img{
    position: relative;
    height:52px;
    width: 57px;
    margin: 0px 0 0 -15px;
}

.personalised img{
    width: 38px;
}

.passionate img{
    width: 45px;
}

.passionate:hover img {
	-webkit-animation: heartbeat 1.5s infinite;
}

@-webkit-keyframes heartbeat {
		0%   {-webkit-transform: scale(1);}
		25%  { -webkit-transform: scale(0.9);}		
		50%  { -webkit-transform: scale(1.2);}
		75%  { -webkit-transform: scale(0.9);}
		100% { -webkit-transform: scale(1);}		
}

@-webkit-keyframes fade {
		0%   { -webkit-filter: hue-rotate(0deg);}
		25%  { -webkit-filter: hue-rotate(90deg);}
		50%  { -webkit-filter: hue-rotate(180deg);}
		75%  { -webkit-filter: hue-rotate(270deg);}
		100% { -webkit-filter: hue-rotate(360deg);}
}
	
.cta {
	margin-top: -20px;
	width: 100%;
	background: rgb(181, 181, 181);
	text-align: center;
}

.cta h2{
	padding-top: 150px;
	padding-bottom: 20px;
	color: #2e2e2e;
}

.cta button {
	margin-bottom:120px;
	text-transform: uppercase;
	background: rgba(236, 240, 241, 0.6);
	border: 2px #2e2e2e solid;
	border-radius: 2px;
	padding: 15px;
	font-family: 'Noto Sans', sans-serif, Georgia;
	font-weight: 700;
	color: #2e2e2e;
}


.cta button:hover{
	background: rgba(236, 240, 241, 0.8);
	transition-property: background;
	transition-duration: 0s;
}

.footer{
	background: rgb(32,32,32);
	height: 100%;
	padding: 60px 0;
	text-align: center;
}

.credits {
	padding-bottom: 20px;
}

.social {
	margin: 0 auto;
}
.social a {
	display: inline-block;
	padding: 0 2px;
}

.facebook {
	background: url(4.png) no-repeat;
	background-size: cover;
	width:40px;
	height: 40px;
	display: block;
}

.linkedin {
	background: url(5.png) no-repeat;
	background-size: cover;
	width:40px;
	height: 40px;
	display:block;
}

.googlep {
	background: url(6.png) no-repeat;
	background-size: cover;
	width:40px;
	height: 40px;
	display:block;
}






@media screen and (min-width:768px) {
	
	.header{
		border-bottom: 15px solid #1c2c3c ;
		position:relative;
		height:100%;	
		text-align: left;
		padding: 50px 0 20px 0;
		background: #2c3e50;
	}

	.logo {
		left: 0;
		display:inline-block;
		line-height: 16px;
		font-size: 21px;
		padding-left:20px;
	}

	.logo h1{
		font-weight: 700;
		text-shadow: 3px 3px 20px #000;
	}

	.logo h1:nth-child(2){
		padding-left: 0px;
		color: #a4aaae;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-timing-function: linear;
	}

	.logo h1:last-child{
		padding-left: 0px;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-timing-function: linear;
	}

	.logo a {
		display: inline-block;
	}

	.logo:hover h1:last-child{
		margin-left:40px;
	}
	.logo:hover h1:nth-child(2){
		margin-left:20px;
	}


	.menubar {
		cursor: default;
		position: absolute;
		top: 35%;
		right:0;
		display: inline-block;
		padding: 0px 10px;
		height: auto;
		width: auto;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
		border-radius: 3px;
	}

	.menubar-checkbox {
	    display: none;
		z-index:-100;
	}
	
	.menubar-handle{
		display: none;
	}

	.menubar ul {
		height: auto;
		max-height: 50px;
		width: auto;
		display: block;
		opacity: 1;
		padding: 20px;
		/* -webkit-padding-start: 0px !important; */
	} 
	
	.menubar a{
		padding: 5px 0;
		display: inline-block;
		color: #a4aaae;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Noto Sans', sans-serif, Georgia;
		font-weight: 700;
		font-size: 14px;
	}

	.menubar li {
		display: inline-block;
		list-style-type: none;
		color: #6d6d6d;
		padding: 0 8px;
	}

	.menubar li:hover a{
		background: none;
	}

	.active{
		border-bottom: 3px solid #ecf0f1;
	}
	

	.about-info{
		padding: 0px;
	}

	.personalised,
	.experienced,
	.passionate {
		display: inline-block;
		padding: 50px 30px;
		width: 32%;
	}

	.about-info div:last-child{
		padding: 50px 30px;
	}
	
	.footer{
		width: 100%;
		display:inline-block;
		text-align: left;
	}
	
	.credits{
		display: inline-block;
	}
	
	.social{
		display:inline-block;
		float: right;
	}
	
	
}